@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Poppins:wght@300;400;700&family=Raleway:wght@400;700&display=swap');
:root {
    --yellow: #F1BC59;
    --yellowHover: #c5902f;
    --white: #ffffff;
    --black: #1E1E1E;
    --grey: #747474;
    --font1: 'Oswald', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Raleway', sans-serif;
}

body {
    font-family: var(--font2);
}

.box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px;
	overflow: hidden;
}

.btn-box {
    width: 220px;
    margin: 10% auto;
    position: relative;
    box-shadow: 0 0 20px 9px #fff;
    border-radius: 30px;
}

.main-btn {
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: bold;
    color: #1E1E1E;
}

#toggle {
    top: 0;
    left: -5px;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #F1BC59;
    border-radius: 30px;
    transition: 0.5s;
}

.sc-icons {
    margin: 30px auto;
    text-align: center;
}

#google {
    height: 28px;
}

.sc-icons img {
    width: 30px;
    padding: 0 8px;
    cursor: pointer;
}

.input {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    background: #F1BC59;
    font-weight: bold;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #1E1E1E;
    font-size: 14px;
    bottom: 68px;
}

#login {
    left: 50px;
}

#register {
	right: 400px;
}

#home-btn {
    cursor: pointer;
    border: 0;
    outline: none;
    font-weight: bold;
    color: #F1BC59;
    background: #1E1E1E;
    font-size: 1em;
    border-radius: 30px;
    padding: 20px;
    position: absolute;
    top: 500px;
    left: -30px;
}