@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Poppins:wght@300;400;700&family=Raleway:wght@400;700&display=swap');
:root {
    --yellow: #F1BC59;
    --yellowHover: #c5902f;
    --white: #ffffff;
    --black: #1E1E1E;
    --grey: #747474;
    --font1: 'Oswald', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Raleway', sans-serif;;
}
body{
	background-color:#fffff8;
}
.title{
	font-family:var(--font1);
	font-weight:bold;
	font-size:25px;
	text-align:center;
	vertical-align:middle;
}
.choices{
	text-align:center;
	
}